aiofile==1.5.2
aiohttp==3.5.4
ariadne==0.6.0
async-timeout==3.0.1
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
GraphQL-core-next==1.1.1
h11==0.8.1
httptools==0.0.13
idna==2.8
multidict==4.5.2
python-multipart==0.0.5
requests==2.22.0
six==1.12.0
starlette==0.12.7
typing-extensions==3.7.4
urllib3==1.25.3
uvicorn==0.11.7
uvloop==0.12.2
websockets==7.0
yarl==1.3.0
